* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  height: 100%;
  font-family: Arial, sans-serif;
  color: white;
  scroll-behavior: smooth;
}




/* Colores por tecnología */
.fa-html5 {
  color: #e34f26;
}

.fa-css3-alt {
  color: #264de4;
}

.fa-js-square {
  color: #f7df1e;
}

.fa-react {
  color: #61dafb;
}

.fa-bootstrap {
  color: #7952b3;
}

.fa-php {
  color: #8993be;
}

.fa-database {
  color: #f29111;
}

.fa-water {
  color: #38bdf8; /* Tailwind */
}

.fa-sass {
  color: #cd6799;
}

/* Redes sociales */
.fa-github {
  color: #ffffff;
}

.fa-linkedin {
  color: #0077b5;
}

/* Íconos de header */
.icons i {
  color: #e0e0e0;
  margin: 0 10px;
  font-size: 1.5rem;
  transition: color 0.3s ease, transform 0.3s ease;
}

.icons i:hover {
  transform: scale(1.2);
  color: blueviolet;
}



/* Responsive */
  @media (min-width: 768px) {
    .about-content {
      flex-direction: row;
      justify-content: space-between;
    }
  
    .about-info,
    .about-education {
      flex: 1;
    }
  }
  
  
  /* Responsive para móviles */
  @media (max-width: 768px) {
    .about-section {
      padding: 60px 30px;
    }
  
    .about-content {
      gap: 40px;
    }
  
    .about-section h2 {
      font-size: 2.5rem;
    }
  }


    /* Responsive para móviles */
  @media (max-width: 400px) {
    #projects{
      padding: 60px 30px !important;
    }
  
    .overlay{
      padding: 30px;;
    }
  }


